<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      .topnav {
        overflow: hidden;
        background-color: #165899;
      }

      .topnav a {
        float: left;
        color:  #f2f2f2;
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        color: white;
        background-color: #159858;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="https://samantho.github.io/Projects/">Home</a>
        <a href="https://samantho.github.io/Projects/R"> R </a>
        <a href="https://samantho.github.io/Projects/Python">Python</a>
        <a href="https://samantho.github.io/Projects/Java">Java</a>
        <a href="https://samantho.github.io/Projects/GEE">Google Earth</a>
    </div>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
